.labelInput {
  display: grid;
  justify-content: center;
  margin: 50px 50px 50px;
}
.labelInput input {
  margin-top: 10px;
  display: block;
  width: 25em;
  padding: 10px;
  box-shadow: 20px 10px 50px black;
}
